<main>
  <section>
    <h1>ng-slot-machine-button</h1>
    <lib-slot-machine-button [activeOnHover]="true" [bottomToTop]="true">
      <lib-slot-machine-wheel>
        <div class="idle part">Slot Machine Button</div>
        <div class="active part">Slot Machine Button</div>
      </lib-slot-machine-wheel>
    </lib-slot-machine-button>
  </section>
  <section>
    <h1>angular-youtube-player</h1>
    <lib-ytplayer videoId="NeF0zpT4gNE" parameters="rel=0"></lib-ytplayer>
    <lib-ytplayer videoId="jnp_ny4SOQE" parameters="rel=0"></lib-ytplayer>
  </section>
</main>
